{% extends "base.html" %}

{% block app_content %}
        <p> <h1 align = "center">ECG from EGG team</h1>
        <p> Этот проект ориентирован на очень широкую аудиторию: он заинтересует спортсменов,
            желающих постоянно знать состояние своего сердечного ритма при физических нагрузках,
            пациентов врачей-кардиологов, для которых возможность постоянного контроля со стороны
            медицинского сотрудника - путь к скорейшему выздоровлению.
        <p> Как наше приложение работает?<br>Вы прикрепляете к груди три электрода, с которых
            иформация о вашем сердечном ритме поступает по блютузу на смартфон, где она визуализируется
            в режиме реального времени; со смартфона данные ЭКГ можно отправить на сервер, просмотреть,
            или предоставить к ним доступ специалисту.
        <p> Ещё одна важная функция этого проекта: если во время обработки сигнала случается
            аномалия, которая явно детектируется как опасная для здоровья (например, инфаркт), -
            автоматически посылаются данные на сервер, информирующие о произошедшем близких человека,
            чтобы они имели возможность незамедлительно предпринять требуемые меры.
{% endblock %}