{% extends "base.html" %}

{% block content %}
    <div id = "container">
        <p> <h1 align = "center">ECG от команды EGG</h1>
        <p> <h4>Этот проект ориентирован на очень широкую аудиторию: он заинтересует спортсменов,
            желающих постоянно знать состояние своего сердечного ритма при физических нагрузках,
            пациентов врачей-кардиологов, для которых возможность постоянного контроля со стороны
            медицинского сотрудника - путь к скорейшему выздоровлению.</h4>
        <p> <h4>Как наше приложение работает?<br>Вы прикрепляете к груди три электрода, с которых
            иформация о вашем сердечном ритме поступает по блютузу на смартфон, где они доступны
            в режиме реального времени; со смартфона данные ЭКГ можно отправить на сервер, просмотреть,
            или предоставить к ним доступ специалисту.</h4>
        <p> <h4>Ещё одна важная функция этого проекта: если во время обработки сигнала случается
            аномалия, которая явно детектируется как опасная для здоровья (например, инфаркт), -
            автоматически посылаются данные на сервер, информирующие о произошедшем близких человека,
            чтобы они имели возможность незамедлительно предпринять требуемые меры.</h4>
    </div>
{% endblock %}